# Terraform state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Console history
.terraform.tfstate.lock.info
.terraform.lock.hcl

# Terraform local directories
.terraform/

# Terraform plan files
*.tfplan
plan.out

# Sensitive variable files
#*.tfvars
*.auto.tfvars

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# VS Code
.vscode/

# Windows files
Thumbs.db
desktop.ini

# macOS files
.DS_Store

# Log files
*.log